---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting",
        "materialize"
;

// style the pre tags 

pre, code {
    font-size: 15px;
    border: 1px solid #efefef;
    border-radius: 0px;
    background-color: #fff;
    font-family: .8em;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

main {
    flex: 1 0 auto;
}

footer.page-footer {
  margin-top: 0
}

.parallax-container {
    height: 450px;
    margin-bottom: 0;
}

.banner {
    background: #2BA3D4 /*url('http://fedora.or.id/bg_teaser.svg') no-repeat center center*/;
    height: 100vh;
}

.banner-wrapper {
    height: 600px !important;
    min-height: 100%;
    width: 100%;
}

.banner-content {
    text-align: center;
    position: relative;
    top: 55%;
    transform: translateY(-50%);
}

.banner-content h1 {
    color: #fff;
    font-weight: 100;
}

.blog-title {
    text-transform: uppercase;
    font-weight: 300;
    color: #AEAEAE;
    font-size: 3.5em;
}

h2.post-title-main {
	font-weight: 400;
    color: #e53935;
    font-size: 1.6em;
}

h2.post-title, h2.post-title:visited {
    font-weight: 400;
    color: #e53935;
    font-size: 2.4em;
}

h2.post-title:hover {
	text-decoration: underline;
}

.post-meta {
    font-weight: 400;
    color: #AEAEAE;
    font-size: .9em;
}

.post-content {
    font-size: 1.2em;
    line-height: 1.5em;
    font-weight: 400;
}

.footer {
	font-size: .8em;
	font-weight: 400;
}

ul.social-list {
	list-style: none;
}

ul.social-list li {
	float: left;
}

ul.social-list li a{
	display: block;
}