---
layout: default
---
<main>
  <div class="blog">
    <div class="container">
        <div class="row" style="margin-top: 30px;">
            {% for post in paginator.posts %}  
                <div class="col s12 m4">
                    <a href="{{ post.url | prepend: site.baseurl }}">
                        <div class="card" style="height: 15rem; background-color: #1b1b25;">
                            {% if post.banner %}
                            <div class="card-content white-text" style="background-image: url('{{ post.banner }}'); background-size: cover; background-position: center center; height: 10rem;">
                            {% else %}
                            <div class="card-content white-text" style="background-image: url({{ "/images/neoelemento.png" | prepend: site.baseurl }}); background-size: cover; background-position: center center; height: 10rem;">
                            {% endif %}

                            </div>
                            <div class="card-action center-align" style="color:#42b983">
                                <p style="font-size: 1.2rem; font-weight: bold; margin-top: -.5em;">{{ post.title }}</p>
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %} 
            </div>
      <div class="row">
        <div class="col m10 offset-m1">
        
          
          
          
          <!-- pagination -->
          {% if paginator.total_pages > 1 %}
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
              {% else %}
                <span>&laquo; Prev</span>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <em>{{ page }}</em>
                {% elsif page == 1 %}
                  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                {% else %}
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
              {% else %}
                <span>Next &raquo;</span>
              {% endif %}
            </div>
          {% endif %}     
        </div>
      </div>
    </div>
  </div>
</main>


