---
layout: default
---
<main>
  <div class="blog">
    <img class="responsive-img hide-on-small-only" src="http://res.cloudinary.com/neoelemento/image/upload/v1483026585/blog/bbanner-min.jpg" width="100%">
    <div class="container">
      <div class="row">
        <div class="col m10 offset-m1">
        {% for post in paginator.posts %}
            <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">
              <h2 class="post-title-main">
                {{ post.title }}
              </h2>
            </a>            
            <h5 class="post-meta" style="color: #AEAEAE;">Posted on: {{ post.date | date: "%b %-d, %Y" }}</h5>
            <article class="post-content" style="margin-top: 15px;">
              <!-- {{ post.content | strip_html | truncatewords: 30 }} -->
              {{ post.excerpt }}
            </article> 
          {% endfor %}
          
          
          
          <!-- pagination -->
          {% if paginator.total_pages > 1 %}
            <div class="pagination">
              {% if paginator.previous_page %}
                <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">&laquo; Prev</a>
              {% else %}
                <span>&laquo; Prev</span>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == paginator.page %}
                  <em>{{ page }}</em>
                {% elsif page == 1 %}
                  <a href="{{ '/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
                {% else %}
                  <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next &raquo;</a>
              {% else %}
                <span>Next &raquo;</span>
              {% endif %}
            </div>
          {% endif %}     
        </div>
      </div>
    </div>
  </div>
</main>