<head>
	  <meta charset="utf-8">
  	  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  	  <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}: {% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% endif %} | neoelemento.com</title>
      <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
      {% if page.title %}
        <meta content="{{ page.title }}" property="og:title">
      {% else %}
        <meta content="{{ site.title }}" property="og:title">
      {% endif %}
      {% if page.excerpt %}
        <meta content="{{ page.excerpt }} | {{ page.content | strip_html | truncatewords: 30 }}" property="og:description">
      {% else %}
        <meta content="{{ site.description }}" property="og:description">
      {% endif %}
      {% if page.banner %}
        <meta content="{{ page.banner }}" property="og:image" />
      {% else %}
        <meta content="http://res.cloudinary.com/neoelemento/image/upload/v1462391014/blog/neoelemento-min.jpg" property="og:image">
      {% endif %}
      <link rel="icon" href="http://res.cloudinary.com/neoelemento/image/upload/v1463077353/blog/logo.png" sizes="32x32">
      <!--Import materialize.css-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}" media="screen,projection">
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
      <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
      

      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js" async></script>
      <script type="text/javascript" src="{{ "/js/materialize.js" | prepend: site.baseurl }}" async></script>
</head>

