<header>
  <div class="navbar">
    <nav class="z-depth-0">
      <div class="nav-wrapper nav-color">
      <div class="">
        <div class="row">
          <div class="col s12 m10 offset-m1">
            <a href="/" class="brand-logo blog-title waves-effect">
              neoelemento
            </a>
            <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
            <ul class="right hide-on-med-and-down">
              <li><a href="/" class="waves-effect">Home</a></li>
              <!--<li><a href="/the-purpose/" class="waves-effect">Series</a></li>-->
              <li><a href="/blog/" class="waves-effect">Blog</a></li>
              <li><a href="/blog/archives/" class="waves-effect">Archives</a></li>
            </ul>
          </div>
        </div>
      </div>
        
        <ul class="side-nav nav-side-color" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <!--<li><a href="/the-purpose/">Series</a></li>-->
          <li><a href="/blog/">Blog</a></li>
          <li><a href="/blog/archives/">Archives</a></li>
        </ul>
      </div>
    </nav>
  </div>
</header>