@font-face {
    font-family: 'josefin_sansbold';
    src: url('../font/josefin/josefinsans-bold-webfont.eot');
    src: url('../font/josefin/josefinsans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-bold-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-bold-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-bold-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-bold-webfont.svg#josefin_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansbold_italic';
    src: url('../font/josefin/josefinsans-bolditalic-webfont.eot');
    src: url('../font/josefin/josefinsans-bolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-bolditalic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-bolditalic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-bolditalic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-bolditalic-webfont.svg#josefin_sansbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansregular';
    src: url('../font/josefin/josefinsans-italic-webfont.eot');
    src: url('../font/josefin/josefinsans-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-italic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-italic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-italic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-italic-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sanslight';
    src: url('../font/josefin/josefinsans-light-webfont.eot');
    src: url('../font/josefin/josefinsans-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-light-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-light-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-light-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-light-webfont.svg#josefin_sanslight') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sanslight_italic';
    src: url('../font/josefin/josefinsans-lightitalic-webfont.eot');
    src: url('../font/josefin/josefinsans-lightitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-lightitalic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-lightitalic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-lightitalic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-lightitalic-webfont.svg#josefin_sanslight_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansregular';
    src: url('../font/josefin/josefinsans-regular-webfont.eot');
    src: url('../font/josefin/josefinsans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-regular-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-regular-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-regular-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-regular-webfont.svg#josefin_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sanssemibold';
    src: url('../font/josefin/josefinsans-semibold-webfont.eot');
    src: url('../font/josefin/josefinsans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-semibold-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-semibold-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-semibold-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-semibold-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sanssemibold';
    src: url('../font/josefin/josefinsans-semibolditalic-webfont.eot');
    src: url('../font/josefin/josefinsans-semibolditalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-semibolditalic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-semibolditalic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-semibolditalic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-semibolditalic-webfont.svg#josefin_sanssemibold') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansthin';
    src: url('../font/josefin/josefinsans-thin-webfont.eot');
    src: url('../font/josefin/josefinsans-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-thin-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-thin-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-thin-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-thin-webfont.svg#josefin_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'josefin_sansthin';
    src: url('../font/josefin/josefinsans-thinitalic-webfont.eot');
    src: url('../font/josefin/josefinsans-thinitalic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/josefin/josefinsans-thinitalic-webfont.woff2') format('woff2'),
         url('../font/josefin/josefinsans-thinitalic-webfont.woff') format('woff'),
         url('../font/josefin/josefinsans-thinitalic-webfont.ttf') format('truetype'),
         url('../font/josefin/josefinsans-thinitalic-webfont.svg#josefin_sansthin') format('svg');
    font-weight: normal;
    font-style: normal;

}