---
layout: default
---

<main>
	<div class="blog">
	  <div class="container">
	    <div class="row">
	      <div class="col s12 m10 offset-m1">
	          <h2 class="post-title">
	            {{ page.title }}
	          </h2>
	          <h5 class="post-meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} | By {{ page.author }}{% endif %}{% if page.meta %} | {{ page.meta }}{% endif %}</h5>
	          <article class="post-content">
	            {{ content }}
	          </article>  

	          <p><strong>Got some comments? Hit me up <a href="http://twitter.com/neoelemento">@neoelemento</a></strong></p>    
	      </div>
	    </div>
	  </div>
	</div>
</main>