---
layout: default
---

<main>
	<div class="blog">
      {% if page.banner %}
      <img class="responsive-img" src="{{ page.banner }}" width="100%">
      {% endif %}
      {% if page.video %}
      <div class="video-container">
        <iframe src="{{ page.video }}" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
      </div>
      {% endif %}
      {% if page.attr %}
      <div class="center-align" style="font-size: .9rem; color: #696969;">Image attribution: {{ page.attr }}</div>
      {% endif %}
	  <div class="container">          
	    <div class="row">
	      <div class="col s12 m10 offset-m1">
	          <h1 class="post-title">
	            {{ page.title }}
	          </h1>
	          <h5 class="post-meta">Published on {{ page.date | date: "%B %-d, %Y" }}{% if page.author %} by {{ page.author }}{% endif %}{% if page.meta %} | {{ page.meta }}{% endif %}</h5>
              {% if page.audio %}
                <h6 style="font-weight: bold">Audio version of the post:</h6>
                <div class="row">
                    <div class="col s12 m6">
                        <audio controls="controls" width="100%>
                            <source type="audio/mp3" src="{{ page.audio }}"></source>
                            <p>Your browser does not support the audio element.</p>
                        </audio>   
                    </div>
                </div>                           
              {% endif %}
	          <article class="post-content">
	            {{ content }}
	          </article>  
	          <hr color="#ededed"><br >
	          <p class="comments">Got some comments? Hit me up <a href="http://twitter.com/neoelemento">@neoelemento</a></p>    
	      </div>
	    </div>
	  </div>
	</div>
</main>